.pane {
  background: transparent;
}

.bar-dark .button.button-icon.ion-android-star {
  color: #525252;

  &.shortlist-true {
    color: #ffffff;
  }
}

.movieScreen {
  margin-top: -45px;
  background-color: #fff;
  width: 100%;
  height: 100%;

  .wrapper {
    height: 100%;
    width: 100%;
    background: #fff;
    .movieArt {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-position: center;
      .overlay {
        height: 100%;
        width: 100%;
        background: rgba(000, 000, 000, 0.4);
        position: relative;
        .trailerButtonWrapper {
          display: none;
          width: 100%;
          height: 68px;
          position: relative;
          top: 50%;
          text-align: center;
          .icon.ion-play {
            padding: 6px 10px;
          }
          .button.button-positive {
            border-color: #fff;
            background-color: rgba(255, 255, 255, 0.15);
            color: #fff;
            border-radius: 10%;
          }
        }
        .shortlistMessage {
          background: rgba(000, 000, 000, .7);
          position: absolute;
          height: 62px;
          width: 106px;
          text-align: right;
          bottom: 0;
          left: 0;
          color: #fff;
          font-size: 1.3em;
          opacity: 1;
          padding: 10px;
          margin-left: -106px;
          transition: all .3s linear;
          &.shortlisted {
            margin-left: 0;
          }
        }
        .movieRatings {
          position: absolute;
          bottom: 0;
          right: 0;
          color: #fff;
          padding: 10px;
          .imdb {
            width: 200px;
            margin: 0 auto;
            img {
              margin-left: -100px;
              float:right;
            }
            .imdbRating {
              margin-left:60px;
              text-align: center;
              float: left;
              width: 200px;
              margin-top: -44px;
              font-weight: 300;
              font-size: 4em;
              opacity: .8;
            }
          }
        }
      }

    }
    .movieInfo {
      padding: 20px 20px;

      h2.movieTitle {
        clear: both;
        padding-top: 6px;
        font-weight: 200;
        width: 100%;
        float: left;
      }

      .released {
        float: left;
        font-size:1.1em;
      }
      .runtime {
        float: right;
        font-size: 1.1em;
        padding-left: 20px;
      }

      .right {
        float: right;
        .movieYear {
          padding-left: 10px;
          float: right;
          font-size: 1.4em;
          font-weight: 100;
        }
        .movieAgeRating {
        }
      }

      .genre {
        float: left;
        color: $lightBrown;
      }
      .movieDescription {
        clear: both;
        font-size: 1.3em;
        line-height: 1.35em;
        padding-top: 10px;
        padding-bottom: 20px;
      }

      .actors {
        h3 {
          font-size: 1.4em;
        }
        clear: both;
        padding-top: 20px;
      }
    }
  }

  h1 {
    color: #fff;
  }






}