<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-dark transparent-nav">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu ng-controller="HomeController as vm" side="left">
    <div class="overlay">
      <header class="bar bar-header bar-dark">
        <h1 class="title">Stream Sidekick.</h1>
      </header>
      <ion-content class="has-header">
        <ion-list>
          <!--<ion-item nav-clear menu-close ui-sref="home.movie({movieName: '', top10: false})">Lucky Pick
            <ion-nav-view name="movie"></ion-nav-view>
          </ion-item>-->
          <ion-item nav-clear menu-close ui-sref="home.top10">Top Rated
            <ion-nav-view name="top10"></ion-nav-view>
          </ion-item>
          <ion-item nav-clear menu-close ui-sref="home.recentlyAddedList">Newly Released
            <ion-nav-view name="recentlyAddedList"></ion-nav-view>
          </ion-item>
          <ion-item nav-clear menu-close ui-sref="home.genres">Genres
            <ion-nav-view name="genres"></ion-nav-view>
          </ion-item>
          <div ng-if="vm.getShortlistedMoviesCount() !== 0">
            <ion-item nav-clear menu-close ui-sref="home.watchlist" >
              Watchlist ({{ vm.getShortlistedMoviesCount() }})
              <ion-nav-view name="watchlist"></ion-nav-view>
            </ion-item>
          </div>
          <div ng-if="vm.getShortlistedMoviesCount() === 0">
            <ion-item nav-clear style="opacity: 0.5;">
              Watchlist ({{ vm.getShortlistedMoviesCount() }})
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </div>
  </ion-side-menu>

</ion-side-menus>
